.jumbotron {
    background-color: #2980b9 !important;
    color: white !important;
}

#start-info, #end-info {
    height: 50px;
    width: 100px;
    margin: auto;    
    vertical-align: middle;    
}

#play-info img {
    padding: 10px;
}

#end-info img {
    padding: 0px !important;
}

#play-info, #play {
    background-color: #ecf0f1;
    color: #34495e;
    padding: 20px;
    margin: auto;
    margin-bottom: 40px;
    vertical-align: middle;
    border-radius: 5px;
}

select {
    padding: 5px;
    margin: 5px;
    width: 100%;
    border-radius: 5px;
}

button {
    box-shadow: 0 2px #999;
}

.five-card {
    position: relative;
    left: 20%;
}

.four-card {
    position: absolute;
    left: 30%;
}

.three-card {
    position: absolute;
    left: 40%;
}

.two-card {
    position: absolute;
    left: 50%;
}



